In [9]:
import graphlab as gl
import numpy as np

In [2]:
sales = gl.SFrame('home_data.sframe/')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\Lu\AppData\Local\Temp\graphlab_server_1578622466.log.0

This non-commercial license of GraphLab Create for academic use is assigned to tkm22@uw.edu and will expire on January 03, 2021.

In [3]:
train_data,test_data = sales.random_split(.8,seed=0)

In [6]:
train_data.head(1)

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	float
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	float
	sqft_above	float
	sqft_basement	float
	yr_built	float
	yr_renovated	float
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 1

Data:
+------------+---------------------------+----------+----------+-----------+
|     id     |            date           |  price   | bedrooms | bathrooms |
+------------+---------------------------+----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 | 221900.0 |   3.0    |    1.0    |
+------------+---------------------------+----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade |
+-------------+----------+--------+------------+------+-----------+-------+
|    1180.0   |  5650.0  |  1.0   |     0      |  0   |     3     |  7.0  |
+-------------+----------+--------+------------+------+-----------+-------+
+------------+---------------+----------+--------------+---------+-------------+
| sqft_above | sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+------------+---------------+----------+--------------+---------+-------------+
|   1180.0   |      0.0      |  1955.0  |     0.0      |  98178  | 47.51123398 |
+------------+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
+---------------+---------------+-----+
[1 rows x 21 columns]

In [24]:
train_data['bedrooms_squared'] = train_data['bedrooms']**2
train_data['bed_bath_rooms'] = train_data['bathrooms']*train_data['bedrooms']
train_data['log_sqft_living'] = np.log2(train_data['sqft_living'])
train_data['lat_plus_long'] = train_data['lat'] +train_data['long']

In [25]:
test_data['bedrooms_squared'] = test_data['bedrooms']**2
test_data['bed_bath_rooms'] = test_data['bathrooms']*test_data['bedrooms']
test_data['log_sqft_living'] = np.log2(test_data['sqft_living'])
test_data['lat_plus_long'] = test_data['lat'] +test_data['long']

In [23]:
train_data.head(1)

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	float
	floors	float
	waterfront	int
	view	int
	condition	int
	grade	float
	sqft_above	float
	sqft_basement	float
	yr_built	float
	yr_renovated	float
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float
	bedrooms_squared	float
	bed_bath_rooms	float
	log_sqft_living	float
	lat_plus_long	float

Rows: 1

Data:
+------------+---------------------------+----------+----------+-----------+
|     id     |            date           |  price   | bedrooms | bathrooms |
+------------+---------------------------+----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 | 221900.0 |   3.0    |    1.0    |
+------------+---------------------------+----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade |
+-------------+----------+--------+------------+------+-----------+-------+
|    1180.0   |  5650.0  |  1.0   |     0      |  0   |     3     |  7.0  |
+-------------+----------+--------+------------+------+-----------+-------+
+------------+---------------+----------+--------------+---------+-------------+
| sqft_above | sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+------------+---------------+----------+--------------+---------+-------------+
|   1180.0   |      0.0      |  1955.0  |     0.0      |  98178  | 47.51123398 |
+------------+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
+---------------+---------------+-----+
[1 rows x 25 columns]

# 4. quiz question

In [31]:
print test_data['bedrooms_squared'].mean(), test_data['bed_bath_rooms'].mean()
print test_data['log_sqft_living'].mean(), test_data['lat_plus_long'].mean()

 12.4466777016 7.50390163159
10.8927438377 -74.6533349722

# 5. create linear regression

In [35]:
model1 = gl.linear_regression.create(train_data,target='price', 
                                     features=['sqft_living', 
                                               'bedrooms', 'bathrooms', 
                                                'lat', 'long'], validation_set=None)
model2 = gl.linear_regression.create(train_data,target='price', 
                                     features=['bedrooms', 'bathrooms', 
                                               'lat', 'long', 
                                              'bedrooms_squared'], validation_set=None)
model3 = gl.linear_regression.create(train_data,target='price', 
                                     features=['bedrooms', 'bathrooms', 
                                               'lat', 'long', 
                                              'bedrooms_squared', 
                                              'log_sqft_living', 
                                               'lat_plus_long'], validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 5

Number of unpacked features : 5

Number of coefficients    : 6

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.023016     | 4074878.213096     | 236378.596455 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 5

Number of unpacked features : 5

Number of coefficients    : 6

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.030021     | 5846884.975403     | 294165.976666 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 7

Number of unpacked features : 7

Number of coefficients    : 8

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.096068     | 5738033.763897     | 264904.282286 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [36]:
model1.coefficients

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 6

Data:
+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -56140675.7444 | 1649985.42028 |
| sqft_living |  None | 310.263325778  | 3.18882960408 |
|   bedrooms  |  None | -59577.1160683 | 2487.27977322 |
|  bathrooms  |  None | 13811.8405419  | 3593.54213297 |
|     lat     |  None | 629865.789485  | 13120.7100323 |
|     long    |  None | -214790.285186 | 13284.2851607 |
+-------------+-------+----------------+---------------+
[6 rows x 4 columns]

In [37]:
model2.coefficients

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 6

Data:
+------------------+-------+----------------+---------------+
|       name       | index |     value      |     stderr    |
+------------------+-------+----------------+---------------+
|   (intercept)    |  None | -47283313.6569 | 2061907.52363 |
|     bedrooms     |  None | -15220.5751784 | 11024.9315536 |
|    bathrooms     |  None | 237215.924885  | 3475.89229969 |
|       lat        |  None | 723772.050351  | 16292.9447219 |
|       long       |  None | -105422.277357 | 16488.7005509 |
| bedrooms_squared |  None | 5432.51682153  | 1454.11788293 |
+------------------+-------+----------------+---------------+
[6 rows x 4 columns]

In [38]:
model3.coefficients

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 8

Data:
+------------------+-------+----------------+---------------+
|       name       | index |     value      |     stderr    |
+------------------+-------+----------------+---------------+
|   (intercept)    |  None | -60141371.6602 | 1871212.57906 |
|     bedrooms     |  None | -200950.134612 | 10347.9661278 |
|    bathrooms     |  None | 74209.9684378  | 4045.66102785 |
|       lat        |  None | 723672.523413  |      nan      |
|       long       |  None | -138093.579247 |      nan      |
| bedrooms_squared |  None | 20012.8654934  | 1329.26079965 |
| log_sqft_living  |  None | 363605.562323  | 5737.15764473 |
|  lat_plus_long   |  None | -76382.7343004 |      nan      |
+------------------+-------+----------------+---------------+
[8 rows x 4 columns]

In [ ]:
def get_residual_sum_of_squares(model, data, outcome):
    
    # First get the predictions

    # Then compute the residuals/errors

    # Then square and add them up

    return(RSS)