In [1]:
import graphlab as gl

In [23]:
people = gl.SFrame('people_wiki.sframe')

In [3]:
people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [24]:
people['word_count'] = gl.text_analytics.count_words(people['text'])
people.head(3)

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 3

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Digby Morrell  |
| <http://dbpedia.org/resour... | Alfred J. Lewy |
| <http://dbpedia.org/resour... | Harpdog Brown  |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
+-------------------------------+-------------------------------+
[3 rows x 4 columns]

In [32]:
people['tfidf'] = gl.text_analytics.tf_idf(people['text'])

In [33]:
people.head(3)

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 3

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Digby Morrell  |
| <http://dbpedia.org/resour... | Alfred J. Lewy |
| <http://dbpedia.org/resour... | Harpdog Brown  |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'since': 1.45537671730804... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
+-------------------------------+
[3 rows x 5 columns]

In [7]:
elton = people[people['name'] == 'Elton John']
elton[['tfidf']].stack('tfidf',new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [8]:
elton[['word_count']].stack('word_count',new_column_name=['word', 'word_count']).sort('word_count', ascending=False)

Columns:
	word	str
	word_count	int

Rows: 255

Data:
+-------+------------+
|  word | word_count |
+-------+------------+
|  the  |     27     |
|   in  |     18     |
|  and  |     15     |
|   of  |     13     |
|   a   |     10     |
|  has  |     9      |
|   he  |     7      |
|  john |     7      |
|   on  |     6      |
| since |     5      |
+-------+------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [9]:
victoria = people[people['name'] == 'Victoria Beckham']
#victoria[['tfidf']].stack('tfidf',new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

In [10]:
paul = people[people['name'] == 'Paul McCartney']
#paul[['tfidf']].stack('tfidf',new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

In [11]:
elton['tfidf'][0]

{'1': 4.195753163848633,
 '10': 2.3157231098806563,
 '100': 8.922437249692202,
 '1947': 3.756656611073944,
 '1967': 3.01368460510379,
 '19702000': 10.293348208665249,
 '1976': 2.71622627778857,
 '1980s': 2.9688582293167167,
 '1988': 2.4491074905234376,
 '1992': 2.278351314316948,
 '1994': 2.2375557576874794,
 '1996': 2.135691193468776,
 '1997': 4.259668904415891,
 '1998': 2.0687826320938068,
 '2': 2.2482408126990716,
 '200': 3.8524016680323285,
 '2002': 1.8753125887822302,
 '2004': 3.3806887216718016,
 '2005': 1.6425861253275964,
 '2008': 1.5093391374786154,
 '2012he': 6.27696518791286,
 '2013': 1.9545642372230505,
 '2014': 2.2073995783446634,
 '21': 5.594501726978586,
 '25': 2.7469019349192254,
 '27': 3.110616229728885,
 '30': 2.6266580085851636,
 '300': 4.553555296486015,
 '31': 3.294838566414648,
 '33': 4.654993539331503,
 '40': 6.981906890681876,
 '49': 5.309741586956912,
 '58': 5.437419304329975,
 'a': 0.05619184472583146,
 'abbey': 5.693190564500702,
 'about': 1.9265128988375737,
 'academy': 7.06577844530489,
 'actor': 2.958040225110943,
 'after': 0.9443334420013064,
 'against': 2.0079609791418744,
 'aids': 10.262846934045534,
 'albums': 6.041205308281332,
 'all': 1.6431112434912472,
 'alltime': 4.393450855082757,
 'an': 0.8947172672456913,
 'and': 0.011177158470730924,
 'announced': 2.7377046555287814,
 'annual': 3.434258101664393,
 'artist': 2.4318137533979653,
 'artists': 5.450454477295092,
 'as': 0.2543390440248236,
 'at': 0.8612771466165147,
 'authors': 4.320811671442786,
 'award': 8.161139242211844,
 'awards': 6.8519553961056126,
 'be': 1.4062480045415613,
 'became': 1.3300599330549516,
 'become': 2.4964678658817263,
 'been': 2.932432006438807,
 'began': 1.727460095710253,
 'bernie': 6.016682089649193,
 'bestselling': 9.189156551665185,
 'billboard': 17.30368095754203,
 'bisexual': 6.7238155121838785,
 'born': 0.268196273764765,
 'brit': 6.391375539090604,
 'british': 6.714095277849417,
 'brits': 8.421546031763658,
 'buckingham': 6.6170475367581725,
 'career': 1.3050270203415668,
 'cbe': 5.249923091746003,
 'center': 2.378000039402171,
 'champion': 3.176548302748404,
 'charitable': 5.038460400044548,
 'civil': 3.3244978303233013,
 'collaborated': 3.761741983457223,
 'commander': 4.099963746694684,
 'composer': 3.2290166226410153,
 'composers': 4.295653111806631,
 'concert': 3.5032509731513444,
 'consecutive': 7.543981950148101,
 'continues': 3.3444509863519367,
 'contribution': 3.9980822072256026,
 'copies': 4.500334600281105,
 'culture': 3.1328905761273576,
 'datein': 8.153282045168979,
 'david': 2.4512658353228582,
 'december': 4.00285165915879,
 'diamond': 5.028070696195412,
 'diana': 5.3955084087143375,
 'disney': 4.706099550264999,
 'dwight': 6.44320060695519,
 'elizabeth': 4.044338683525725,
 'elton': 17.482320270031995,
 'empire': 4.3624301614253005,
 'england': 2.646755623206051,
 'english': 2.239461125047026,
 'entered': 3.3434917536644764,
 'era': 3.7913080690464858,
 'established': 3.0759047769687164,
 'events': 3.0624230643017776,
 'fame': 6.0143129879257335,
 'fellow': 2.364041687151464,
 'fifty': 5.11719847609142,
 'fight': 4.274754994169014,
 'film': 2.033113917057952,
 'first': 0.6956048713993103,
 'five': 2.2137301792754096,
 'fivedecade': 10.293348208665249,
 'for': 0.36431264671643454,
 'foundation': 5.428871534029564,
 'four': 1.922106072733316,
 'from': 0.29375533798563447,
 'funeral': 5.911321573991367,
 'furnish': 18.38947183999428,
 'gay': 8.685411312155043,
 'globe': 4.144879912747602,
 'golden': 3.618155702913813,
 'grammy': 4.085764725180022,
 'had': 1.177428412308558,
 'hall': 5.270713564278079,
 'has': 3.8564778576963508,
 'have': 1.4416847832984716,
 'having': 2.448323791423765,
 'he': 1.493579903611068,
 'heavily': 4.584578192498009,
 'hercules': 7.322933743095548,
 'highestprofile': 8.789270811888976,
 'him': 4.726752980361581,
 'his': 1.0504458208546292,
 'hits': 3.7189699613970224,
 'hollywood': 3.902268967127278,
 'honors': 3.7995943688135627,
 'hosting': 4.806478735572622,
 'hot': 8.195845859319663,
 'icon': 5.433535804303577,
 'ii': 3.3077063910260405,
 'impact': 4.04144432549936,
 'in': 0.017377314302186087,
 'inception': 5.391784009623355,
 'including': 1.2272824458461182,
 'inducted': 3.6213152632041816,
 'inductee': 6.2951475069960505,
 'industry': 2.9570625486439512,
 'influential': 3.738702807457348,
 'into': 4.815188827219817,
 'involved': 2.674114792438443,
 'is': 0.11046500190207996,
 'its': 3.3751896805390627,
 'john': 13.93931279239831,
 'jubilee': 5.648957309523876,
 'kennedy': 4.279633052622447,
 'kenneth': 4.798231266142604,
 'knighthood': 6.9975113426609195,
 'lasting': 5.905091024240731,
 'late': 2.374355720500003,
 'later': 1.4294496043477696,
 'least': 4.251903729252247,
 'legal': 3.4243337579995425,
 'legend': 4.464402591055042,
 'lgbt': 5.5883326877074415,
 'list': 3.1286278298933916,
 'look': 4.303134443458919,
 'lyricist': 5.644161137260383,
 'making': 2.7223896254962385,
 'male': 4.378494763929107,
 'march': 1.9573172463231197,
 'marriage': 8.230808189229297,
 'million': 9.053489066276878,
 'more': 5.021336851896435,
 'most': 1.4186204428983973,
 'movements': 5.030658019760364,
 'music': 5.378377975206105,
 'musicians': 3.5587565486923007,
 'named': 2.0300155412252816,
 'nine': 3.2624907325491286,
 'no': 7.1892706571891525,
 'number': 4.24604216610848,
 'occasional': 4.771887290803003,
 'of': 0.05403029058844982,
 'on': 1.1064765201036022,
 'one': 2.79279220142615,
 'openly': 5.056906245835299,
 'order': 2.8044952529317895,
 'oscar': 4.781937626656504,
 'outside': 3.6528189935675104,
 'outstanding': 3.383594927020439,
 'over': 2.975646311911467,
 'overallelton': 10.986495389225194,
 'palace': 9.813124388259208,
 'parties': 4.495771854722687,
 'partner': 3.4248536436364145,
 'partnership': 4.1599501656686,
 'party': 4.708022306948445,
 'performed': 2.5307521601251795,
 'pianist': 4.07474808897352,
 'princess': 5.038460400044548,
 'producer': 2.6157162162644934,
 'queens': 4.023305403354957,
 'raised': 3.059531844362216,
 'ranked': 7.642003828328697,
 'received': 3.0793219631333275,
 'record': 2.1528869065343033,
 'records': 2.678542843954175,
 'reginald': 6.781802769834228,
 'rock': 5.886949007853824,
 'roll': 9.162533862388706,
 'rolling': 4.8401661315562965,
 'royal': 2.8056144472288045,
 'samesex': 5.89889905399281,
 'services': 6.037737299782756,
 'seven': 2.7917137507818355,
 'since': 7.276883586540205,
 'singer': 2.7818235602743835,
 'single': 5.774489654856468,
 'singles': 3.7372803321108052,
 'sir': 3.956522477518808,
 'six': 2.4538226269605703,
 'social': 2.6226865047083137,
 'sold': 6.702383005931559,
 'solo': 2.838628259301248,
 'something': 4.272324859315723,
 'song': 2.869182927623221,
 'songwriter': 7.349218450296059,
 'songwriters': 11.250406447031539,
 'stone': 4.332342869041976,
 'successful': 2.679282762596886,
 'such': 1.763337513538397,
 'taupin': 9.600201028105303,
 'than': 6.195113430831934,
 'the': 0.0027426017494956603,
 'they': 1.8993401178193898,
 'third': 2.3506306680914584,
 'time': 1.3253342074200498,
 'to': 0.1877797507271969,
 'tonightcandle': 10.986495389225194,
 'tony': 3.6043710234876816,
 'top': 9.096257662993823,
 'two': 1.0988831858473562,
 'us': 1.9319904488071395,
 'was': 0.15873157122436693,
 'way': 2.9688582293167167,
 'wed': 6.908957945319475,
 'westminster': 5.272762583715825,
 'which': 0.7674309670437692,
 'who': 0.9098952189804214,
 'wind': 4.86181199833099,
 'winning': 2.416330313042851,
 'with': 0.40493728504412135,
 'worked': 1.553891853362109,
 'world': 1.370623244696304,
 'worldwide': 7.008752931346158,
 'year': 1.3423616371539895,
 'years': 1.0752380994247055,
 'you': 2.914652239616036}

In [12]:
gl.distances.cosine(elton['tfidf'][0], paul['tfidf'][0])

0.8250310029221779

In [13]:
gl.distances.cosine(elton['tfidf'][0], victoria['tfidf'][0])

0.9567006376655429

In [34]:
knn_model_name = gl.nearest_neighbors.create(people,features=['word_count'],label='name')

Starting brute force nearest neighbors model training.

In [35]:
knn_model2 = gl.nearest_neighbors.create(people,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

In [26]:
knn_model_name.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 13.996ms     |

| Done         |         | 100         | 179.11ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    Elton John   |      0.0       |  1   |
|      0      |   Phil Collins  | 0.76399026764  |  2   |
|      0      |   Rod Stewart   | 0.773333333333 |  3   |
|      0      |   Annie Lennox  | 0.776623376623 |  4   |
|      0      |    Barry Gibb   | 0.780952380952 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [17]:
knn_model2.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 25.019ms     |

| Done         |         | 100         | 222.155ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    Elton John   |      0.0       |  1   |
|      0      |   Phil Collins  | 0.76399026764  |  2   |
|      0      |   Rod Stewart   | 0.773333333333 |  3   |
|      0      |   Annie Lennox  | 0.776623376623 |  4   |
|      0      |    Barry Gibb   | 0.780952380952 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [39]:
knn_model_name.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 16.013ms     |

| Done         |         | 100         | 164.117ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      | Victoria Beckham |      0.0       |  1   |
|      0      |   Cheryl Cole    | 0.800586510264 |  2   |
|      0      |    Heidi Klum    | 0.810344827586 |  3   |
|      0      |   Simon Fuller   | 0.822742474916 |  4   |
|      0      |      Adele       | 0.824915824916 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [40]:
knn_model2.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 32.019ms     |

| Done         |         | 100         | 198.136ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      | Victoria Beckham |      0.0       |  1   |
|      0      |   Cheryl Cole    | 0.800586510264 |  2   |
|      0      |    Heidi Klum    | 0.810344827586 |  3   |
|      0      |   Simon Fuller   | 0.822742474916 |  4   |
|      0      |      Adele       | 0.824915824916 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [36]:
obama = people[people['name'] == 'Barack Obama']
obama

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'operations': 1L, 'repres... | {'operations': 3.811771079... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [37]:
knn_model_name.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 12.01ms      |

| Done         |         | 100         | 159.114ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [38]:
knn_model2.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 21.016ms     |

| Done         |         | 100         | 193.912ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]