In [23]:
import pandas as pd
import numpy as np
from sklearn import linear_model  # using scikit-learn

0. Load the sales dataset using Pandas:

In [2]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':float, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

sales = pd.read_csv('kc_house_data.csv', dtype=dtype_dict)

In [7]:
sales.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,sqft_living_sqrt,sqft_lot_sqrt,bedrooms_square,floors_square
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1.0,0,0,...,0,98178,47.5112,-122.257,1340.0,5650.0,34.351128,75.166482,9.0,1.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2.0,0,0,...,1991,98125,47.7210,-122.319,1690.0,7639.0,50.695167,85.099941,9.0,4.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1.0,0,0,...,0,98028,47.7379,-122.233,2720.0,8062.0,27.748874,100.000000,4.0,1.0

1. Create new features by performing following transformation on inputs:

In [4]:
from math import log, sqrt
sales['sqft_living_sqrt'] = sales['sqft_living'].apply(sqrt)
sales['sqft_lot_sqrt'] = sales['sqft_lot'].apply(sqrt)
sales['bedrooms_square'] = sales['bedrooms']*sales['bedrooms']
sales['floors_square'] = sales['floors']*sales['floors']

Squaring bedrooms will increase the separation between not many bedrooms (e.g. 1) and lots of bedrooms (e.g. 4) since 1^2 = 1 but 4^2 = 16. Consequently this variable will mostly affect houses with many bedrooms.

On the other hand, taking square root of sqft_living will decrease the separation between big house and small house. The owner may not be exactly twice as happy for getting a house that is twice as big.

2. Using the entire house dataset, learn regression weights using an L1 penalty of 5e2. Make sure to add "normalize=True" when creating the Lasso object. Refer to the following code snippet for the list of features

Note. From here on, the list 'all_features' refers to the list defined in this snippet.

In [6]:
all_features = ['bedrooms', 'bedrooms_square',
            'bathrooms',
            'sqft_living', 'sqft_living_sqrt',
            'sqft_lot', 'sqft_lot_sqrt',
            'floors', 'floors_square',
            'waterfront', 'view', 'condition', 'grade',
            'sqft_above',
            'sqft_basement',
            'yr_built', 'yr_renovated']

model_all = linear_model.Lasso(alpha=ha=5e2, normalize=True) # set parameters
model_all.fit(sales[all_features], sales['price']) # learn weights

Lasso(alpha=500.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=True, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [19]:
model_all.coef_

array([    0.        ,     0.        ,     0.        ,   134.43931396,
           0.        ,     0.        ,     0.        ,     0.        ,
           0.        ,     0.        , 24750.00458561,     0.        ,
       61749.10309071,     0.        ,     0.        ,    -0.        ,
           0.        ])

sqft_living, view, grade

3. Quiz Question: Which features have been chosen by LASSO, i.e. which features were assigned nonzero weights?

4. To find a good L1 penalty, we will explore multiple values using a validation set. Let us do three way split into train, validation, and test sets. Download the provided csv files containing training, validation and test sets.

In [20]:
testing = pd.read_csv('wk3_kc_house_test_data.csv', dtype=dtype_dict)
training = pd.read_csv('wk3_kc_house_train_data.csv', dtype=dtype_dict)
validation = pd.read_csv('wk3_kc_house_valid_data.csv', dtype=dtype_dict)

In [21]:
testing['sqft_living_sqrt'] = testing['sqft_living'].apply(sqrt)
testing['sqft_lot_sqrt'] = testing['sqft_lot'].apply(sqrt)
testing['bedrooms_square'] = testing['bedrooms']*testing['bedrooms']
testing['floors_square'] = testing['floors']*testing['floors']

training['sqft_living_sqrt'] = training['sqft_living'].apply(sqrt)
training['sqft_lot_sqrt'] = training['sqft_lot'].apply(sqrt)
training['bedrooms_square'] = training['bedrooms']*training['bedrooms']
training['floors_square'] = training['floors']*training['floors']

validation['sqft_living_sqrt'] = validation['sqft_living'].apply(sqrt)
validation['sqft_lot_sqrt'] = validation['sqft_lot'].apply(sqrt)
validation['bedrooms_square'] = validation['bedrooms']*validation['bedrooms']
validation['floors_square'] = validation['floors']*validation['floors']

In [30]:
training[all_features].shape

(9761, 17)

In [31]:
training['price'].shape

(9761,)

5. Now for each l1_penalty in [10^1, 10^1.5, 10^2, 10^2.5, ..., 10^7] (to get this in Python, type np.logspace(1, 7, num=13).)

Learn a model on TRAINING data using the specified l1_penalty. Make sure to specify normalize=True in the constructor:

In [36]:
l1_penalty = np.logspace(1, 7, num=13)

In [40]:
models = []
for penalty in l1_penalty:
    model = linear_model.Lasso(alpha=penalty, normalize=True)
    model.fit(training[all_features], training['price'])
    models.append(model)

Compute the RSS on VALIDATION for the current model (print or save the RSS)
Report which L1 penalty produced the lower RSS on VALIDATION.

In [75]:
rss_all = pd.DataFrame(l1_penalty, columns=['l1_penalty'])
rss_all.head(3)

   l1_penalty
0   10.000000
1   31.622777
2  100.000000

In [76]:
rss1 = []
for model in models:
    rss = sum((validation['price'] - 
               model.predict(validation[all_features]))**2)
    rss1.append(rss)
rss_all['rss'] = rss1

In [80]:
rss_all.sort_values(['rss']).head(3)

   l1_penalty           rss
0   10.000000  3.982133e+14
1   31.622777  3.990419e+14
2  100.000000  4.297916e+14

6. Quiz Question: Which was the best value for the l1_penalty, i.e. which value of l1_penalty produced the lowest RSS on VALIDATION data?

7. Now that you have selected an L1 penalty, compute the RSS on TEST data for the model with the best L1 penalty.

In [91]:
rss_test = sum((models[0].predict(testing[all_features]) - 
                            testing['price'])**2)
print ('%e' %rss_test)

9.846740e+13

8. Quiz Question: Using the best L1 penalty, how many nonzero weights do you have? Count the number of nonzero coefficients first, and add 1 if the intercept is also nonzero. A succinct way to do this is


where 'model' is an instance of linear_model.Lasso.

In [102]:
len(all_features)

17

In [107]:
models[0].intercept_

6630155.668628358

In [94]:
models[0].coef_

array([-1.61445628e+04,  3.73245384e+02,  5.08412433e+04,  6.17853560e+02,
       -4.44113549e+04,  7.85623065e-01, -7.01194765e+02, -0.00000000e+00,
        5.01420046e+03,  6.19488752e+05,  3.80418557e+04,  2.49987718e+04,
        1.28716235e+05,  0.00000000e+00,  0.00000000e+00, -3.29383118e+03,
        1.00573209e+01])

In [106]:
np.count_nonzero(models[0].coef_) + np.count_nonzero(models[0].intercept_)

15

9. What if we absolutely wanted to limit ourselves to, say, 7 features? This may be important if we want to derive "a rule of thumb" --- an interpretable model that has only a few features in them.

You are going to implement a simple, two phase procedure to achieve this goal:

Explore a large range of â€˜l1_penaltyâ€™ values to find a narrow region of â€˜l1_penaltyâ€™ values where models are likely to have the desired number of non-zero weights.
Further explore the narrow region you found to find a good value for â€˜l1_penaltyâ€™ that achieves the desired sparsity. Here, we will again use a validation set to choose the best value for â€˜l1_penaltyâ€™.

10. Assign 7 to the variable â€˜max_nonzerosâ€™.

11. Exploring large range of l1_penalty

For l1_penalty in np.logspace(1, 4, num=20):

Fit a regression model with a given l1_penalty on TRAIN data. Add "alpha=l1_penalty" and "normalize=True" to the parameter list.

Extract the weights of the model and count the number of nonzeros. Take account of the intercept as we did in #8, adding 1 whenever the intercept is nonzero. Save the number of nonzeros to a list.

In [111]:
max_nonzeros = 7
l1_penalty = np.logspace(1, 4, num=20)

In [112]:
l1_penalty

array([   10.        ,    14.38449888,    20.69138081,    29.76351442,
          42.81332399,    61.58482111,    88.58667904,   127.42749857,
         183.29807108,   263.66508987,   379.26901907,   545.55947812,
         784.75997035,  1128.83789168,  1623.77673919,  2335.72146909,
        3359.81828628,  4832.93023857,  6951.92796178, 10000.        ])

In [134]:
df = pd.DataFrame(l1_penalty, columns=['l1_penalty'])

In [142]:
models = []
coefs = []
for penalty in l1_penalty:
    model = linear_model.Lasso(alpha=penalty, normalize=True)
    model.fit(training[all_features], training['price'])
    models.append(model)
    coef = np.count_nonzero(model.coef_) + np.count_nonzero(model.intercept_)
    coefs.append(coef)
df['model'] = models
df['coef'] = coefs
df

      l1_penalty                                              model  coef
0      10.000000  Lasso(alpha=10.0, copy_X=True, fit_intercept=T...    15
1      14.384499  Lasso(alpha=14.38449888287663, copy_X=True, fi...    15
2      20.691381  Lasso(alpha=20.6913808111479, copy_X=True, fit...    15
3      29.763514  Lasso(alpha=29.76351441631318, copy_X=True, fi...    15
4      42.813324  Lasso(alpha=42.81332398719393, copy_X=True, fi...    13
5      61.584821  Lasso(alpha=61.58482110660264, copy_X=True, fi...    12
6      88.586679  Lasso(alpha=88.58667904100822, copy_X=True, fi...    11
7     127.427499  Lasso(alpha=127.42749857031335, copy_X=True, f...    10
8     183.298071  Lasso(alpha=183.29807108324357, copy_X=True, f...     7
9     263.665090  Lasso(alpha=263.6650898730358, copy_X=True, fi...     6
10    379.269019  Lasso(alpha=379.26901907322497, copy_X=True, f...     6
11    545.559478  Lasso(alpha=545.5594781168514, copy_X=True, fi...     6
12    784.759970  Lasso(alpha=784.7599703514607, copy_X=True, fi...     5
13   1128.837892  Lasso(alpha=1128.8378916846884, copy_X=True, f...     3
14   1623.776739  Lasso(alpha=1623.776739188721, copy_X=True, fi...     3
15   2335.721469  Lasso(alpha=2335.7214690901214, copy_X=True, f...     2
16   3359.818286  Lasso(alpha=3359.818286283781, copy_X=True, fi...     1
17   4832.930239  Lasso(alpha=4832.930238571752, copy_X=True, fi...     1
18   6951.927962  Lasso(alpha=6951.927961775606, copy_X=True, fi...     1
19  10000.000000  Lasso(alpha=10000.0, copy_X=True, fit_intercep...     1

12. Out of this large range, we want to find the two ends of our desired narrow range of l1_penalty. At one end, we will have l1_penalty values that have too few non-zeros, and at the other end, we will have an l1_penalty that has too many non-zeros.

More formally, find:

The largest l1_penalty that has more non-zeros than â€˜max_nonzerosâ€™ (if we pick a penalty smaller than this value, we will definitely have too many non-zero weights)Store this value in the variable â€˜l1_penalty_minâ€™ (we will use it later)
The smallest l1_penalty that has fewer non-zeros than â€˜max_nonzerosâ€™ (if we pick a penalty larger than this value, we will definitely have too few non-zero weights)Store this value in the variable â€˜l1_penalty_maxâ€™ (we will use it later)
Hint: there are many ways to do this, e.g.:

Programmatically within the loop above
Creating a list with the number of non-zeros for each value of l1_penalty and inspecting it to find the appropriate boundaries.

In [184]:
df.loc[7]['l1_penalty']

127.42749857031335

In [187]:
l1_penalty_min = df.loc[7]['l1_penalty']
l1_penalty_min

127.42749857031335

In [188]:
l1_penalty_max = df.loc[9]['l1_penalty']
l1_penalty_max

263.6650898730358

13. Quiz Question: What values did you find for l1_penalty_min and l1_penalty_max?

14. Exploring narrower range of l1_penalty

We now explore the region of l1_penalty we found: between â€˜l1_penalty_minâ€™ and â€˜l1_penalty_maxâ€™. We look for the L1 penalty in this range that produces exactly the right number of nonzeros and also minimizes RSS on the VALIDATION set.

For l1_penalty in np.linspace(l1_penalty_min,l1_penalty_max,20):

Fit a regression model with a given l1_penalty on TRAIN data. As before, use "alpha=l1_penalty" and "normalize=True".
Measure the RSS of the learned model on the VALIDATION set
Find the model that the lowest RSS on the VALIDATION set and has sparsity equal to â€˜max_nonzerosâ€™. (Again, take account of the intercept when counting the number of nonzeros.)

In [189]:
l1_penalty = np.linspace(l1_penalty_min,l1_penalty_max,20)

In [190]:
l1_penalty

array([127.42749857, 134.59789811, 141.76829765, 148.9386972 ,
       156.10909674, 163.27949628, 170.44989582, 177.62029537,
       184.79069491, 191.96109445, 199.13149399, 206.30189354,
       213.47229308, 220.64269262, 227.81309216, 234.9834917 ,
       242.15389125, 249.32429079, 256.49469033, 263.66508987])

In [191]:
df1 = pd.DataFrame(l1_penalty, columns=['l1_penalty'])

In [193]:
models = []
coefs = []
rss = []
for penalty in l1_penalty:
    model = linear_model.Lasso(alpha=penalty, normalize=True)
    model.fit(training[all_features], training['price'])
    models.append(model)
    coef = np.count_nonzero(model.coef_) + np.count_nonzero(model.intercept_)
    coefs.append(coef)
    rss.append(sum((model.predict(validation[all_features])-
               validation['price'])**2))
df1['model'] = models
df1['coef'] = coefs
df1['rss'] = rss

In [200]:
df1

,l1_penalty,model,coef,rss
0,127.427499,"Lasso(alpha=127.42749857031335, copy_X=True, f...",10,4.353747e+14
1,134.597898,"Lasso(alpha=134.5978981125619, copy_X=True, fi...",10,4.370092e+14
2,141.768298,"Lasso(alpha=141.76829765481045, copy_X=True, f...",8,4.382361e+14
3,148.938697,"Lasso(alpha=148.938697197059, copy_X=True, fit...",8,4.391589e+14
4,156.109097,"Lasso(alpha=156.10909673930755, copy_X=True, f...",7,4.400374e+14
5,163.279496,"Lasso(alpha=163.2794962815561, copy_X=True, fi...",7,4.407775e+14
6,170.449896,"Lasso(alpha=170.44989582380464, copy_X=True, f...",7,4.415667e+14
7,177.620295,"Lasso(alpha=177.6202953660532, copy_X=True, fi...",7,4.424064e+14
8,184.790695,"Lasso(alpha=184.79069490830176, copy_X=True, f...",7,4.432967e+14
9,191.961094,"Lasso(alpha=191.96109445055032, copy_X=True, f...",7,4.442398e+14
10,199.131494,"Lasso(alpha=199.13149399279888, copy_X=True, f...",7,4.452307e+14
11,206.301894,"Lasso(alpha=206.3018935350474, copy_X=True, fi...",6,4.462689e+14
12,213.472293,"Lasso(alpha=213.47229307729594, copy_X=True, f...",6,4.471129e+14
13,220.642693,"Lasso(alpha=220.6426926195445, copy_X=True, fi...",6,4.479982e+14
14,227.813092,"Lasso(alpha=227.81309216179307, copy_X=True, f...",6,4.489247e+14
15,234.983492,"Lasso(alpha=234.98349170404163, copy_X=True, f...",6,4.498925e+14
16,242.153891,"Lasso(alpha=242.1538912462902, copy_X=True, fi...",6,4.509015e+14
17,249.324291,"Lasso(alpha=249.32429078853872, copy_X=True, f...",6,4.519524e+14
18,256.494690,"Lasso(alpha=256.49469033078725, copy_X=True, f...",6,4.530439e+14
19,263.665090,"Lasso(alpha=263.6650898730358, copy_X=True, fi...",6,4.541767e+14

In [203]:
df2 = df1[df1['coef']==max_nonzeros]

In [204]:
df2

,l1_penalty,model,coef,rss
4,156.109097,"Lasso(alpha=156.10909673930755, copy_X=True, f...",7,4.400374e+14
5,163.279496,"Lasso(alpha=163.2794962815561, copy_X=True, fi...",7,4.407775e+14
6,170.449896,"Lasso(alpha=170.44989582380464, copy_X=True, f...",7,4.415667e+14
7,177.620295,"Lasso(alpha=177.6202953660532, copy_X=True, fi...",7,4.424064e+14
8,184.790695,"Lasso(alpha=184.79069490830176, copy_X=True, f...",7,4.432967e+14
9,191.961094,"Lasso(alpha=191.96109445055032, copy_X=True, f...",7,4.442398e+14
10,199.131494,"Lasso(alpha=199.13149399279888, copy_X=True, f...",7,4.452307e+14

In [228]:
prefer = df2[df2['rss']==min(df2['rss'])]

In [229]:
model_wanted = prefer['model']

In [230]:
model_wanted

4    Lasso(alpha=156.10909673930755, copy_X=True, f...
Name: model, dtype: object

In [231]:
model = model_wanted[4]

In [266]:
model.coef_

array([-0.00000000e+00, -0.00000000e+00,  1.06108903e+04,  1.63380252e+02,
        0.00000000e+00, -0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  5.06451687e+05,  4.19600436e+04,  0.00000000e+00,
        1.16253554e+05,  0.00000000e+00,  0.00000000e+00, -2.61223488e+03,
        0.00000000e+00])

In [286]:
feature = pd.DataFrame()

In [287]:
feature['feature'] = all_features
feature['coef'] = model.coef_

In [288]:
feature

             feature           coef
0           bedrooms      -0.000000
1    bedrooms_square      -0.000000
2          bathrooms   10610.890284
3        sqft_living     163.380252
4   sqft_living_sqrt       0.000000
5           sqft_lot      -0.000000
6      sqft_lot_sqrt      -0.000000
7             floors       0.000000
8      floors_square       0.000000
9         waterfront  506451.687115
10              view   41960.043555
11         condition       0.000000
12             grade  116253.553700
13        sqft_above       0.000000
14     sqft_basement       0.000000
15          yr_built   -2612.234880
16      yr_renovated       0.000000